body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;
  color: white;
}

* {
  margin: 0;
}

body *,
:root {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}